chromedriver_mac64
kafka_2.13-3.7.1
**/data
elasticsearch-8.14.2
kibana-8.6.0
# Ignore all folders listed in the project root
bin/
checkpoint_dir/
chromedriver_mac64/
conda-meta/
data/
docker-elk/
docker-hadoop/
docker-kafka/
elasticsearch-8.14.2/
filebeat-8.6.0-darwin-x86_64/
include/
kafka_2.13-3.7.1/
kibana-8.6.0/
lib/
man/
sbin/
share/
spark_checkpoint/
ssl/
docker-elk/
docker-hadoop/
docker-kafka/
data/ 
data_amazon/
merge_data/amazon_multiple.jsonl
merge_data/merged_output_amazon.csv
merge_data/train_amazon.csv
merge_data/test_amazon.csv
Hang_temp_files
spark-checkpoints/
model_pipeline/ 
merge_data/
Dataset
rotten-tomatoes-9800-movie-critic-and-user-reviews.zip
archive/
archive1/
rotten_tomatoes/